.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: rgba(255, 255, 255, 0.5); /* main-color; */
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: round;
}

.text-field {
    -fx-background-color: skyblue;
    -fx-font: 15px "Trebuchet MS";
    -fx-cursor: hand;
}

.button {
    -fx-background-color: lightblue;
    -fx-font: 16px "Trebuchet MS";
}

.button:hover {
    -fx-background-color:cornflowerblue;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: cadetblue;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: rgba(255,255,255,.5);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #5b875b;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
